<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <lms-profit-card></lms-profit-card>
      </div>
      <div class="col-md-6">
        <lms-earning-card></lms-earning-card>
      </div>
    </div>

    <lms-traffic-reveal-card></lms-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <lms-ecommerce-charts></lms-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <lms-country-orders></lms-country-orders>
  </div>

  <div class="col-xxl-3">
    <lms-progress-section></lms-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <lms-ecommerce-visitors-analytics></lms-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <lms-user-activity></lms-user-activity>
  </div>
</div>

<div style="padding:56.25% 0 0 0;position:relative;"><iframe
    src="https://player.vimeo.com/video/809113766?h=8d8796ade7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Módulo 3 Episodio 1_corregido"></iframe></div>
<script src="https://player.vimeo.com/api/player.js"></script>
