<nb-card size="medium">
  <nb-card-header>
    <h3>Visitors Analytics</h3>
    <div class="subtitle">Consumption</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <lms-legend-chart [legendItems]="chartLegend"></lms-legend-chart>
      </div>
      <lms-visitors-analytics-chart [chartData]="visitorsAnalyticsData"></lms-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <lms-slide-out [showVisitorsStatistics]="true">
    <lms-visitors-statistics [value]="pieChartValue"></lms-visitors-statistics>
  </lms-slide-out>
</nb-card>
